version: '3'
services:
    sdk:
        environment:
            SDK_PRIVATE_KEY: $SDK_PRIVATE_KEY
            SDK_ADDRESS: $SDK_ADDRESS
            TEST_PRIVATE_KEY: $TEST_PRIVATE_KEY
            TEST_ADDRESS: $TEST_ADDRESS

            NO_SIGNATURES: "true"
            CHAIN_NAME_SCHAIN: "Bob"
            URL_W3_S_CHAIN: http://127.0.0.1:15000
            URL_W3_ETHEREUM: http://ganache:8545
            CHAIN_ID_S_CHAIN: "0x12345"
            CHAIN_ID_MAIN_NET: "0x5661"
            NETWORK_FOR_ETHEREUM: "mainnet"
            NETWORK_FOR_SCHAIN: "schain"
            NO_NTP_CHECK: "True"
        image: skalenetwork/ima_sdk:0.0.0
        container_name: ima_sdk
        ports:
            - "15000:15000"
            - "15010:15010"
            - "15020:15020"
            - "15030:15030"
            - "15040:15040"
            - "15050:15050"
        volumes:
            -  ./dev_dir:/dev_dir
            -  ./data_dir:/data_dir
            -  ./contracts_data:/IMA/proxy/data
        logging:
            driver: json-file
            options:
                max-size: "10m"
                max-file: "4"
        restart: unless-stopped
        networks:
            - ima
    ganache:
        image: trufflesuite/ganache-cli:beta
        container_name: ima_sdk_ganache
        entrypoint: sh /scripts/run_ganache.sh
        environment:
            SDK_PRIVATE_KEY: $SDK_PRIVATE_KEY
            TEST_PRIVATE_KEY: $TEST_PRIVATE_KEY
        ports:
            - "1545:8545"
            - "1546:8546"
        networks: 
            - ima
        volumes:
            - ./db:/app/db
            - ./scripts:/scripts
    nginx:
        image: nginx:1.21.1
        container_name: ima_sdk_nginx
        network_mode: host
        volumes:
            - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - ./ssl:/ssl:ro
            - ./db:/app/db

networks:
    ima: